
nav {
	background-color: #A51C30 ;
	float: left;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	font-family: 'TruenoSemiBold';
}

nav.nav-header-main ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #A51C30 ;
	font-family: 'TruenoSemiBold';
}

nav.nav-header-main li {
	float: left;
}

nav.nav-header-main li a {
	display: block;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
	text-transform: uppercase;
}

form.header-form {
	padding: 10px 16px;
	float: right;
}

a.header-signup {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
	float: right;
}

a.header-signup:hover {
	background-color: rgb(138, 25, 42);
}

li.active {
	background-color: rgb(223, 22, 22);
	color: white;
}

/* Change the link color to #111 (black) on hover */
nav.nav-header-main li a:hover {
	background-color: rgb(133, 26, 42);
} 

a.header-logo img {
	float: left;
	height: 30px;
	padding: 10px 10px;
}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px; /* 5px rounded corners */
	width: 250px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 50px;
	float: left;
  }
  
/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
	padding: 2px 16px;
}

.top-whitespace {
    margin-bottom: 3cm;
}

select {
  margin: 5px;
  width: 150px;
  padding-top: 5px 5px 5px 5px;
  font-size: 16px;
  border: 0px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg) 96% / 8% no-repeat #EEE;
}

div {
	font-family: 'Lora', serif;
	font-size: 19px;
}

.cardName{
	font-family: 'TruenoBold';
	font-size: 20px;
	color: black;
}

.cardEmail {
	font-family: "TruenoLight";
	font-size: 16px;
	color: #414141;
}

.cardClasses {
	font-family: "TruenoRegular";
	font-size: 16px;
	color: #414141
}

.square {
	object-fit: cover;
	width: 300px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.header {
	font-family: 'TruenoBold';
	font-size:80px;
	color: black;
	text-align: center;
}

.button {
	background-color: #F9F9F9;
	border: none;
	color: #414141;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-family: "TruenoLight";
  }

  .input {
	border: none;
	border-bottom: 2px solid rgb(255, 255, 255);
	background-color:rgba(0, 0, 0, 0);
	font-family: "TruenoLight";
	font-size: 10px;
  }

.inputRed {
	border: none;
	border-bottom: 2px solid #A51C30;
	background-color:rgba(0, 0, 0, 0);
	font-family: "TruenoLight";
	font-size: 20px;
	padding-top: .25in;
}

.selectRed {
	width: 7.8cm;
 	border: 2px solid #A51C30;
	font-family: "TruenoLight";
	font-size: 17px;
	margin-top: .25in;
	margin-bottom: -.25in;
	margin-left: -.04em;
}

.buttonRed {
	background-color: #A51C30;
	border: none;
	color: #F9F9F9;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-family: "TruenoLight";
  }

  .header2 {
	font-family: 'TruenoBold';
	font-size:60px;
	color: black;
}

.header2Centered {
	font-family: 'TruenoBold';
	font-size:60px;
	color: black;
	text-align: center;
}

.error {
	font-family: "Lora";
	font-size: 16px;
	color: red;
	text-align: center;
}

.success {
	font-family: "Lora";
	font-size: 16px;
	color: rgb(0, 228, 0);
	text-align: center;
}

.formCentered {
	display: block;
	width: 10em;
	margin-left: auto;
	margin-right: auto;
	padding-right: 3em;
}

.loggedOut {
	font-family: 'TruenoBold';
	font-size: 30px;
	color: black;
	text-align: center;
}

.header3Centered {
	font-family: 'TruenoLight';
	font-size:30px;
	color: black;
	text-align: center;
	text-transform: uppercase;
}

.formCentered2 {
	display: block;
	width: 25em;
	margin-left: auto;
	margin-right: auto;
	padding-left: 6em;
}

table {
	border-collapse: collapse;
	border:none;
	margin-left: auto;
	margin-right: auto;
  }
  
  th, td {
	text-align: left;
	border:none;
	padding: 8px;
	font-family: "TruenoRegular";
	font-size: 16px;
	color: #414141
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}